html {
  box-sizing: border-box;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: inherit;
}

img {
  border-style: none;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}
