.princ-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 15px;
}

.princ-container {
  font-family: 'Raleway', sans-serif;
  line-height: 1.4;
}

.princ-header {
  background-position: center;
  background-size: cover;
  background-image: url('https://www.w3schools.com/w3images/mac.jpg');
  min-height: 640px;
}

.sections {
  margin: 10px;
  background-color: blue;
  height: 100px;
}

#about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(4, auto-fit);
  grid-gap: 10px;
  margin: 10px;
}

#about > div {
  text-align: center;
  padding: 10px 0;
}

#about div svg {
  display: table-row-group;
  padding: 10px 0;
}

.princ-footer {
  padding: 10px;
  text-align: center;
  color: #fff !important;
  background-color: #000000;
}
